@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
}
header{
    padding: 70px 0px 60px;
    width: 100%;
    height: auto;
    background-color:rgba(144, 137, 137, 0.841);
}
#check{
    display: none;
}
.three-line{
    font-size: 35px;
    color: #ffffff;
    position: absolute;
    right: 0;
    margin-top: -20px;
    cursor: pointer;
    display: none;
}
nav{
    background-color: #1FAA59;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 20px 0px;
    /* flex-wrap: wrap; */
    position: fixed;
    top: 0%;
    z-index: 1;
    
}
.nav{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
.list-items{
    color: #ffff;
    margin: 0px 20px;
    padding: 5px 10px;
    font-size: 25px;
}
.list-items:hover{
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 10px;
    transition: 0.6s;
}
.lower{
    padding-top: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
nav a{
  margin-right: 150px;
}
.btn{
    font-size: 18px;
    color: #ffffff;
    height: 36px;
    width: 150px;
    background-color: transparent;
    border: 2px solid #ffff;
    transition: 0.4s;
}
.btn:hover{
    font-size: 20px;
    font-weight: bold;
    
   border: none;
   border-radius: 20px;
   box-shadow: 1px 1px 1px 3px #000000 , -1px -1px 1px 3px #000000;
    transform: scale(1.2);
}
.lower{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.lower .left{
    width: 50%;
    
}

.lower .left img{
    margin-left: -120px;
}
.lower .right{
    width: 500px;
    color: #ffffff;
    
}
.lower .right h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
}

.lower .right h3{
    font-size: 20px;
    font-weight: 500;
    margin: 24px 0px;
}
.box input{
    height: 38px;
    width: 360px;
}
.btn-b{
    font-size: 15px;
  height: 32px;
  width: 110px;
  margin-top: 5px;
  margin-left: -115px;
  color: #fff;
  background-color: #1FAA59;
  opacity: 0.6;
  border: none;
}
.ab{
    position: absolute;
    color: black;
    margin-left: -360px;
    margin-top: 15px;
}




.second{
    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.second h1{
    font-weight: 600;
    font-size: 40px;
}
.seco{
  margin-top: 100px;
}

.lower-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.number{
    margin: 20px 60px;
    text-align: center;
    padding: 30px;
}
.number h1{
    font-weight: 600;
    font-size: 28px;
}
.number h3{
    font-size: 17px;
    margin-top: 5px;
    font-weight: 500;
}



.second-image{
    width: 60%;
    height: 550px;
  margin: 0 auto;
    
}

.we{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.we-con{
    text-align: center;
    font-size: 25px;
}
.we-con h1{
    font-weight: 600;
}

.information{
    height: auto;
    width: 60%;
    /* background-color: grey; */
    margin: 0px auto;
    color: #ffffff;
}
.staff-information{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}
.right-content{
    margin-top: 70px;
    color: black;
    width: 50%;
}
.right-content h1{
    font-size: 45px;
    font-weight: 600;
}
.right-content h3{
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
}
.btn-all{
    font-size: 25px;
    position: absolute;
  height: 42px;
  width: 160px;
  color: #fff;
  background-color: #1FAA59;
  opacity: 0.7;
  border: none;
  margin-top: 25px;
  transition: 0.4s;
}
.btn-all:hover{
    transform: scale(1.3);
    border-radius: 20px;
}

.MEETS{
    padding: 0px 0px;
    margin: 30px auto;
    width: 73%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
.MEETS h1{
   
    width: 400px;
   font-weight: 600;
   font-size: 40px;
}
.MEETS h3{
    width: 450px;
   font-weight: 500;
   
}

.our-team{
    width: 73%;
   margin: 0px auto;
    height: auto;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
}
.member{
    padding: 10px 5px;
    height: auto;
    /* background-color: beige; */
    width: 30%;
    box-shadow: 2px 2px 5px #808080;;
}
.member:hover{
    cursor: pointer;
    transform: translateY(-15px);
    transition: 0.8s;
}
.member h1{
    margin-top: 1px;
    font-size: 23px;
    font-weight: 700;
}
.member h3{
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;
}

.middle-button{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.middle-button button{
    margin-top: 10px;
    font-size: 15px;
  height: 43px;
  width: 160px;
  color: #fff;
  background-color: #1FAA59;
  opacity: 0.7;
  border: none; 
}
.middle-button button:hover{
    transform: scale(1.3);
    border-radius: 20px;
}



footer{
    width: 100%;
    height: auto;
    background-color: #000000;
    opacity: 0.9;
    margin-top: 50px;
    padding: 2px 0px 50px;
}
footer .footer-content{
    padding: 30px 0px;
    margin: 0px auto;
    height: auto;
    width: 80%;   
}
.bar{
    display: flex;
    justify-content: space-between;
}
.logo-bar{
    margin-top: 50px;
}
.social-media{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.circle{
    background-color: #808080;
    opacity: 0.5;
    height: 50px;
    width: 50px;
    border-radius: 50%;
   margin-left: 5px;
}
.circle a i{
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.line{
    margin-top: 50px;
    width: 100%;
    height: 2px;
    background-color: #ffff;
}
.footer-last{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.last-containet{
    /* width: 20%; */
    width: 200px;
    margin-top: 30px;
}

.last-containet h1{
      
      color: #ffffff;
      font-weight: 600;
      font-size: 30px;
}
.last-containet h3{
    word-spacing: 5px;
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    margin-top: 13px;
}

button:hover{
    transition: 0.6s;
    cursor: pointer;
}

input:focus{  /* this is for removing border while enetr email or password*/
outline: none;
}
::placeholder{
    position: absolute;
    margin-top: 10px ;
    margin-left: 25px;
}
@media screen and (max-width:1650px) {
    .staff-information{
        
    }
    .staff-information{
        box-shadow: 2px 2px 5px #808080;
      display: inline-block;
     
      padding: 20px 10px 5px;
    }
    .staff-information .right-content{
        width: 100%;
    }
    .staff-information h1{
        margin-top: -80px;
    }
    .staff-information h3{
        margin-bottom: 10px;
    }
    .left-pic img , .right-pic img{
        width: 100%;
    }
    .same1{
        margin-top: 407px;
    }
    .diff{
        display: none;
    }
}

@media screen and (max-width:1500px) {
    /* body{
        background-color: aqua;
    } */
    .list{
        margin-left: 50px;
    }
    .list-items{
        text-align: center;
        margin: auto 0px;
        width: 120px;
        height: 40px;
        font-size: 24px;
        margin: 0px 10px;
        padding: 0px 10px;
    }
    .button-a{
       
        margin-left: 20px;
    }
    .logo{
      
    }
}
@media screen and (max-width:1230px) {
    body{
        /* background-color:aquamarine; */
    }
    .list{
        width: 100%;
        height: 100vh;
        background-color: rgb(95, 137, 123);
        position: absolute;
        top: 90%;
        display: inline-block;
        left: -100%;
        padding-top: 20px;
        margin: 0px;
    }
    .list-items{
        width: 50%;
        font-size: 60px;
        margin: 10px auto 40px;
        font-weight: bold;
    }
    .list-items:hover{
        background-color: transparent;
        color: #0f763a;
        border: none;
        transition: 0.4s;
        
    }
    .three-line{
        position: absolute;
        display: block;
       top: 50%;
       right: 3%;
    }
    #check:checked ~ .list{
        left: 0%;
        transition: 0.4s;
    }
    #check:checked , .box{
        display: none;
    }
}